// html {
//     height: 100%;
//  }
 

.loginpage{
    height: 100%;
    width: 100%;
    display: flex;    
    flex-direction: column;  
}


.govgrheader {
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.govimage {
    width: 240px; 
    height: auto;
    margin-right: 30px;
}

.loginsection{
    display: flex;  
    align-items: center;
    justify-content: center;    
    flex-direction: row;  
}

.loginform{
    width: 450px;   
    border: 2px solid #082d5e;
    background: #082d5e;
    color: #082d5e;
    border-radius: 7px;
}

.loginheader
{
    font-size: large;
    margin: 20px; 
}

.p-field {
    margin-top: 20px;
}

.p-col {
    margin-top: 8px;
    
}



h1, h2,h3 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #01449b;
}


