<div class="loginpage">
  <div class="govgrheader">
    <img src="./../../../assets/minfin_logo.png" alt="Ministry of Finance" class="govimage">
    <h3>Σύστημα Πιστοποιημένων Εκτιμητών</h3>
  </div>
  <div class="loginsection">
    <form [formGroup]="loginForm" class="loginform">
      <p-card header="Eίσοδος στο Σύστημα" class="loginheader">
        <div class="p-field p-grid">
          <label for="login" class="p-col" style="width:40%">Login</label>
          <div class="p-col" style="width: 240px;">
            <input type="text" placeholder="Username" formControlName="login" pInputText>
          </div>
        </div>
        <div class="p-field p-grid">
          <label for="password" class="p-col" style="width:40%">Password</label>
          <div class="p-col">
            <p-password placeholder="Enter your password" formControlName="password" [feedback]="false"></p-password>
          </div>
        </div>
        <div style="margin-bottom: 1em;margin-top: 20px; border-style: none; ">
          <p-button label="Login" icon="pi pi-check" [style]="{'margin-right': '1em'}" (onClick)="login()"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
        </div>
        <div>
          <p-messages [(value)]="errormsg" [enableService]="false"></p-messages>
        </div>
      </p-card>
    </form>
  </div>
</div>