// html {
//     height: 100%;
//  }
 

.changepasspage{
    height: 100%;
    width: 100%;
    display: flex;    
    flex-direction: column;  
}


.govgrheader {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.govimage {
    width: 240px; 
    height: auto;
    margin-right: 30px;
}

.changepasssection{
    display: flex;  
    align-items: center;
    justify-content: center;    
    flex-direction: row;  
}

.changepassform{
    width: 450px;    
}

.changepassheader
{
    font-size: large;
    margin: 20px; 
}

.p-field {
    margin-top: 20px;
}

.p-col {
    margin-top: 8px;
    
}

h1, h2,h3 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #01449b;
}


