.content-wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 1240px;
    margin-top: 0px;
    display :flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh
}


.govgrheader {
    background-color: #ffffff;
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
}

.govimage {
    width: 240px; /* you can use % */
    height: auto;
}

.menuarea {    
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1240px;
  background-color: #003476;
  height: 60px;
  flex-grow: 0;
}

h1, h2,h3 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #003476;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px ;
    font-weight: bold;
    text-decoration: none;
    background-color: #003476;
    color: #e9e9e9;
    margin: 0px 16px 0px 6px;   
    padding: 0px 16px 0px 6px;   
    background-color: 003476; 
  }
 

.button:hover {
  color:rgb(251, 255, 0);  
}

a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  }

  .mainsection{
    flex-grow: 1
  }

  .bottomsection {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px ;
    font-weight: bold;
    text-decoration: none;
    background-color: #003476;
    color: #e9e9e9;
    width: 1240px;
    flex-grow: 0;
  }
