<div class="content-wrapper">
    <div class="govgrheader">
        <div>
            <img src="./../../../assets/minfin_logo.png" alt="Ministry of Finance" class="govimage">
        </div>
        <div style="margin-left: 100px;">
            <h3>Σύστημα Πιστοποιημένων Εκτιμητών</h3>
        </div>
    </div>
    <div class="menuarea">
        <a [routerLink]="['/home']" title="Αρχική" class="button">Αρχική</a>
        <a [routerLink]="['/nomika']" title="Εμφάνιση Νομικών Προσώπων" class="button">Νομικά Πρόσωπα</a>
        <a [routerLink]="['/fysika2']" title="Εμφάνιση Φυσικών Προσώπων" class="button">Φυσικά Πρόσωπα</a>        
        <a href="" *ngIf="(isLoggedIn | async)" (click)="authService.logout()" title="Logout"
            class="button">Αποσύνδεση</a>
    </div>
    <div class="mainsection">
        <router-outlet></router-outlet>
    </div>
    <div class="bottomsection">
        Υλοποίηση ΓΓΠΣΔΔ ©2021
    </div>
</div>