<div class="list-edit-container">
    <div class="tablecontainer">
        <div>
            <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #003476;">Κατάλογος Πιστοποιημένων
                Εκτιμητών -
                Φυσικών Προσώπων</h2>
        </div>
        <p-table #dt [value]="fysika" [rows]="10" [paginator]="true" selectionMode="single" [(selection)]="selectedItem" dataKey="fldam"
            styleClass="p-datatable-sm" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            currentPageReportTemplate="Εμφάνιση {first} έως {last} από {totalRecords} εγγραφές"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <!-- <h5 class="p-m-0">Manage Products</h5> -->
                    <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span> -->
                </div>
            </ng-template>
            <ng-template pTemplate="header" >
                <tr  >
                    <th style="width: 4rem" pSortableColumn="fldam">AM<p-sortIcon field="fldam"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fldeponymo">ΕΠΩΝΥΜΟ<p-sortIcon field="fldeponymo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fldonoma">ΟΝΟΜΑ<p-sortIcon field="fldonoma"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fldpatronymo">ΠΑΤΡΩΝΥΜΟ<p-sortIcon field="fldpatronymo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="flddiefthinsi">ΔΙΕΥΘΥΝΣΗ<p-sortIcon field="flddiefthinsi"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fysiko>
                <tr styleClass="custorow" [pSelectableRow]="fysiko">
                    <td>{{fysiko.fldam}}</td>
                    <td>{{fysiko.fldeponymo}}</td>
                    <td>{{fysiko.fldonoma}}</td>
                    <td>{{fysiko.fldpatronymo}}</td>
                    <td>{{fysiko.flddiefthinsi}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div>
        <form [formGroup]="itemForm">
            <div class="itemcontainer">
            <div class="p-field inline20">
                <label for="fldam" class="p-col">Αρ.Μητρώου</label>
                <div class="p-col">
                    <input type="text" placeholder="" formControlName="fldam" pInputText>
                </div>
            </div>
            <div class="p-field inline50">
                <label for="fldeponymo" class="p-col">Επώνυμο</label>
                <div class="p-col">
                    <input type="text" placeholder="Επώνυμο" formControlName="fldeponymo" pInputText>
                </div>
            </div>
            <div class="p-field inline40">
                <label for="fldonoma" class="p-col">Όνομα</label>
                <div class="p-col">
                    <input type="text" placeholder="Όνομα" formControlName="fldonoma" pInputText>
                </div>
            </div>
            <div class="p-field inline40">
                <label for="fldpatronymo" class="p-col">Πατρώνυμο</label>
                <div class="p-col" >
                    <input type="text" placeholder="Πατρώνυμο" formControlName="fldpatronymo" pInputText>
                </div>
            </div>
            <div class="p-field inline80">
                <label for="flddiefthinsi" class="p-col" >Διεύθυνση</label>
                <div class="p-col">
                    <input type="text" placeholder="Διεύθυνση" formControlName="flddiefthinsi" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline80">
                <label for="fldnomos" class="p-col" >Νόμος</label>
                <div class="p-col">
                    <input type="text" placeholder="Νόμος" formControlName="fldnomos" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline80">
                <label for="fldemail" class="p-col">e-Mail</label>
                <div class="p-col">
                    <input type="text" placeholder="Νόμος" formControlName="fldemail" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline80">
                <label for="fldtilefono" class="p-col" >Τηλέφωνο</label>
                <div class="p-col">
                    <input type="text" placeholder="Νόμος" formControlName="fldtilefono" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline80">
                <label for="fldcertification" class="p-col">Πιστοποίηση</label>
                <div class="p-col">
                    <input type="text" placeholder="Νόμος" formControlName="fldcertification" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline80">
                <label for="fldeidikotita" class="p-col">Ειδικότητα</label>
                <div class="p-col">
                    <input type="text" placeholder="Νόμος" formControlName="fldeidikotita" pInputText
                        style="margin-bottom: 5px;">
                </div>
            </div>
            <div class="p-field inline20">
                <label for="flda">A</label>
                <p-checkbox formControlName="flda" [binary]="true"></p-checkbox>               
            </div> 
            <div class="p-field inline20">
                <label for="fldb">B</label>
                <p-checkbox formControlName="fldb" [binary]="true"></p-checkbox>               
            </div> 
            <div class="p-field inline20">
                <label for="fldc">Γ</label>
                <p-checkbox formControlName="fldc" [binary]="true"></p-checkbox>               
            </div> 
            <div class="p-field inline20">
                <label for="fldd">Δ</label>
                <p-checkbox formControlName="fldd" [binary]="true"></p-checkbox>               
            </div> 
            <div *ngIf="(isLoggedIn | async)" style="margin-bottom: 1em;margin-top: 20px; border-style: none; ">
                <p-button label="Ενημέρωση" icon="pi pi-check" [style]="{'margin-right': '1em'}" (onClick)="save()"></p-button>
                <p-button label="Νέο" icon="pi pi-plus" [style]="{'margin-right': '1em'}" (onClick)="save()"></p-button>
                <p-button label="Ακύρωση" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
            </div>
            
            <div>
                <p-messages [(value)]="errormsg" [enableService]="false"></p-messages>
            </div>
        </div>
        </form>
    </div>
</div>